.hljs {
  --code-background: #0c0c1f;
  --text-color: #9e9edf;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  display: block;
  overflow-x: auto;
  padding: 2rem;
  border-radius: 6px;
  color: var(--text-color);
  background: var(--code-background);
  line-height: 1.4rem;
}
.hljs-shell {
  background: var(--code-background);
}
.hljs-comment,
.hljs-quote {
  color: #3e3e72;
  font-style: italic;
}
.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #6977f3;
}
.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion {
  color: #e97a7a;
}

.hljs-subst {
  color: var(--text-color);
}

.hljs-function .hljs-params {
  color: #e06c75;
}

.hljs-literal {
  color: #56b6c2;
}
.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #a0c884;
}
.hljs-built_in,
.hljs-class .hljs-title {
  color: #e6c07b;
}
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: var(--text-color);
}
.hljs-number {
  color: #d19a66;
}
.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #82aaff;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
.hljs-link {
  text-decoration: underline;
}
